{# Sticky TOC; built client-side from headings #}
<aside class="toc sticky-top" aria-labelledby="toc-title">
  <p id="toc-title" class="toc-title">On this page</p>
  <nav id="js-toc" class="toc-list" aria-label="Table of contents"></nav>
</aside
