----
layout: base.njk
title: "Tags"
---

<h1>Tags</h1>

{# Collect and dedupe tags without custom filters #}
{% set tagsList = [] %}
{% for item in collections.all %}
  {% if item.data.tags %}
    {% for t in item.data.tags %}
      {% if t != "all" and t != "post" and not (t in tagsList) %}
        {% set tagsList = tagsList.concat([t]) %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}

<ul class="post-tags">
  {% for tag in tagsList %}
    <li><a href="/tag/{{ tag | url }}/">{{ tag }}</a></li>
  {% endfor %}
</ul>
