<section id="comments" class="mt-10">
  <h2 class="text-xl font-semibold mb-4">Comments</h2>
  <script src="https://giscus.app/client.js"
        data-repo="Tom-Holliday/Quixotic"
        data-repo-id="R_kgDOPlT_cw"
        data-category-id="DIC_kwDOPlT_c84Cuq-3"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
  </script>
</section>