<meta name="description" content="{{ page.excerpt or metadata.description }}">
<link rel="canonical" href="{{ metadata.url }}{{ page.url }}">
<meta property="og:title" content="{{ title or metadata.title }}">
<meta property="og:description" content="{{ page.excerpt or metadata.description }}">
<meta property="og:url" content="{{ metadata.url }}{{ page.url }}">
<meta name="twitter:card" content="summary">
