{# Sticky TOC container; items are filled by /assets/js/toc.js #}
<aside class="toc sticky-top" aria-labelledby="toc-title">
  <p id="toc-title" class="toc-title">On this page</p>
  <nav id="js-toc" class="toc-list" aria-label="Table of contents"></nav>
</aside>
